@media (max-width: 767px) {
	.button {
		font-size: 13px;
		&_main {
			margin-top: 50px;
			font-size: 17px;
		}
	}
}

@media (max-width: 575px) {
	.button {
		padding: 2px 14px ;
		font-size: 12px;
		&_main {
			margin-top: 35px;
			font-size: 12px;
			padding: 10px 15px;
		}
	}
}