@media (max-width: 767px) {
	.button {
		&_main {
			margin-top: 50px;
			width: 290px;
		}
	}
}

@media (max-width: 575px) {
	.button {
		width: 125px;
		height: 25px;
		font-size: 10px;
		&_main {
			margin-top: 35px;
			width: 175px;
			height: 30px;
			font-size: 10px;
		}
	}
}