@media (max-width: 991px) {
	.header {
		margin: 0 20px 0 20px;
	}
}

@media (max-width: 767px) {
	.header{
		margin: 0 10px 0 10px;
		&__logo{
			width: 50%;
			img {
				width: 100%;
			}
		}
		&__official {
			display: none;
			}
		&__phone {
			font-size: 17px;
		}
	}
}

@media (max-width: 575px) {
	.header{
		// margin: 0 10px 0 10px;
		&__logo{
			img {
				width: 85%;
			}
		}
		&__official {
			display: none;
			}
		&__contacts {
			align-items: center;
		}
		&__phone {
			font-size: 12px;
			font-weight: 500;
		}
	}
}