.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	&__logo {
		width: 33.333%;
		img {
			width: 100%;
		}
	}
	&__official {
		color: #ffffff;
		font-size: 12px;
		font-weight: 500;
		text-align: center;
		span {
			display: block;
			font-size: 18px;
		}
	}
	&__phone {
		display: block;
		font-weight: bold;
		color: #ffffff;
		font-size: 18px;
		text-decoration: none;
		&:hover {
			color: #fff;
		}
	}
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}
}


@media (max-width: 991px) {
	.header {
		margin: 0 20px 0 20px;
	}
}

@media (max-width: 767px) {
	.header{
		margin: 0 10px 0 10px;
		&__logo{
			width: 50%;
			img {
				width: 100%;
			}
		}
		&__official {
			display: none;
			}
		&__phone {
			font-size: 17px;
		}
	}
}

@media (max-width: 575px) {
	.header{
		&__logo{
			img {
				width: 85%;
			}
		}
		&__official {
			display: none;
			}
		&__contacts {
			align-items: center;
		}
		&__phone {
			font-size: 13px;
			font-weight: 500;
		}
	}
}